In [37]:
import pandas as pd

UsageError: Line magic function `%%mat` not found.

In [38]:
movies = pd.read_csv(r"C:\Users\User\Desktop\My_projects\movielens\movies.csv", sep = ",")

In [39]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [40]:
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [41]:
print(type(movies))

<class 'pandas.core.frame.DataFrame'>

In [47]:
tags = pd.read_csv(r"C:\Users\User\Desktop\My_projects\movielens\tags.csv", sep = ",")

In [48]:
tags.head()

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [49]:
ratings = pd.read_csv(r"C:\Users\User\Desktop\My_projects\movielens/ratings.csv", sep = ",")

In [50]:
ratings.head(5)

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [51]:
del ratings["timestamp"]
del tags["timestamp"]

# Data Structure

### Series

In [52]:
#  extract 0th row, notice that it is infact a series
row_0 = tags.iloc[0]
type(row_0)

pandas.core.series.Series

In [53]:
print(row_0)

userId           3
movieId        260
tag        classic
Name: 0, dtype: object

In [54]:
row_0.index

Index(['userId', 'movieId', 'tag'], dtype='object')

In [55]:
row_0["userId"]

3

In [56]:
"rating"  in row_0

False

In [57]:
row_0.name

0

In [58]:
row_0 = row_0.rename("first_row")

In [59]:
row_0.name

'first_row'

### Data Frame

In [60]:
tags.head()

   userId  movieId               tag
0       3      260           classic
1       3      260            sci-fi
2       4     1732       dark comedy
3       4     1732    great dialogue
4       4     7569  so bad it's good

In [61]:
tags.index

RangeIndex(start=0, stop=1093360, step=1)

In [62]:
tags.columns

Index(['userId', 'movieId', 'tag'], dtype='object')

In [63]:
# Extract row_0 ,12,2000 from DataFrame
tags.iloc[[0,12,2000]]

      userId  movieId           tag
0          3      260       classic
12         4   164909       musical
2000     647   164179  twist ending

# Descriptive Stastics

In [64]:
ratings["rating"].describe()

count    2.500010e+07
mean     3.533854e+00
std      1.060744e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [65]:
ratings["rating"].mean()

3.533854451353085

In [66]:
ratings.describe()

             userId       movieId        rating
count  2.500010e+07  2.500010e+07  2.500010e+07
mean   8.118928e+04  2.138798e+04  3.533854e+00
std    4.679172e+04  3.919886e+04  1.060744e+00
min    1.000000e+00  1.000000e+00  5.000000e-01
25%    4.051000e+04  1.196000e+03  3.000000e+00
50%    8.091400e+04  2.947000e+03  3.500000e+00
75%    1.215570e+05  8.623000e+03  4.000000e+00
max    1.625410e+05  2.091710e+05  5.000000e+00

In [67]:
ratings.mean()

userId     81189.281154
movieId    21387.981943
rating         3.533854
dtype: float64

In [68]:
ratings["rating"].min()

0.5

In [69]:
ratings["rating"].max()

5.0

In [70]:
ratings["rating"].std()

1.0607439610179747

In [71]:
ratings["rating"].mode()

0    4.0
dtype: float64

In [72]:
ratings.corr()

           userId   movieId    rating
userId   1.000000 -0.004413  0.001940
movieId -0.004413  1.000000 -0.009216
rating   0.001940 -0.009216  1.000000

In [73]:
filter_1 = ratings["rating"] > 5
filter_1
# type(filter_1)
# filter_1.any()

0           False
1           False
2           False
3           False
4           False
            ...
25000090    False
25000091    False
25000092    False
25000093    False
25000094    False
Name: rating, Length: 25000095, dtype: bool

In [74]:
filter_2 = ratings["rating"] > 0
filter_2.all()

True

## Data Cleaning : Handling Missing Data

In [75]:
movies.shape

(62423, 3)

In [76]:
# is any row NULL?
movies.isnull().any()

movieId    False
title      False
genres     False
dtype: bool

That is nice ,which means we dont have null value

In [77]:
# is any row NUll?
ratings.isnull().any()

userId     False
movieId    False
rating     False
dtype: bool

In [78]:
# is any row NULL
tags.isnull().any()

userId     False
movieId    False
tag         True
dtype: bool

In [79]:
tags.shape

(1093360, 3)

In [80]:
tags = tags.dropna()
# which helps us on droping rows with nan ,zero,empty values

here we have some missing value

 lets check again whether we still have missing value

In [81]:
tags.isnull().any()

userId     False
movieId    False
tag        False
dtype: bool

In [82]:
tags.shape

(1093344, 3)

# Data Visiualazation

In [ ]:
%matplotlib inline

ratings.hist(column = "rating", figsize = (15,10))

In [ ]:
ratings.boxplot(column = "rating", figsize =(15,20))

### Slicing Out Columns

In [ ]:
tags["tag"].head()

In [ ]:
movies[["title","genres"]].head()

In [ ]:
ratings[-10:]

In [ ]:
tags_counts = tags["tag"].value_counts()
tags_counts[:10]

In [ ]:
tags_counts[:10].plot(kind = "bar", figsize = (15,10))

In [ ]:
tags_counts[-10:]

### Filters for Selecting Rows

In [ ]:
is_highly_rated = ratings["rating"] >= 4.0
is_highly_rated

In [ ]:
ratings[is_highly_rated][30:50]

In [ ]:
is_animation = movies["genres"].str.contains("Animation")
movies[is_animation][5:15]

In [ ]:
movies[is_animation].head()

### Group By and Aggregation

In [ ]:
ratings_counts = ratings[["movieId","rating"]].groupby("rating").count()
ratings_counts

In [ ]:
average_rating =ratings[["movieId", "rating"]].groupby("movieId").mean()
average_rating.head()

In [ ]:
movie_count = ratings[["movieId" ,"rating"]].groupby("movieId").count()
movie_count.head()

In [ ]:
movie_count = ratings[["movieId" ,"rating"]].groupby("movieId").count()
movie_count.tail()

# Pandas Merge DataFrame

In [ ]:
tags.head()

In [ ]:
movies.head()

In [ ]:
t = movies.merge(tags, on = "movieId", how = "inner")
t.head()

### Combine aggreagation,merging and filters to get useful analytics

In [ ]:
avg_ratings = ratings.groupby("movieId", as_index = False).mean()
del avg_ratings["userId"]
avg_ratings.head()

In [ ]:
box_office = movies.merge(avg_ratings, on = "movieId", how = "inner")
box_office.tail()

In [ ]:
is_highly_rated = box_office["rating"] >= 4.0
is_highly_rated

In [ ]:
box_office[is_highly_rated][-5:]

In [ ]:
is_comedy = box_office["genres"].str.contains("Comedy")
box_office[is_comedy]

In [ ]:
box_office[is_comedy & is_highly_rated][-5:]

## Vectorized String Operation

In [ ]:
movies.head()

###### Split"genres" into multiple columns

In [ ]:
movie_genres = movies["genres"].str.split("|", expand = True)

In [ ]:
movie_genres[:10]

In [ ]:
movie_genres["isComedy"] = movies["genres"].str.contains("Comedy")

In [ ]:
movie_genres[:10]

##### Exctract yeat from the title e.g(1995)

In [ ]:
movies["year"] = movies["title"].str.extract(".*\((.*)\).*", expand = True)

In [ ]:
movies

### Parsing Timestamps

Timestamps are common in sensor data or  other time series dataset. Let us revisiting
the tags csv dataset and read the timesstampst

In [ ]:
tags = pd.read_csv(r"C:\Users\User\Desktop\Pythonude\movielens/tags.csv", sep = ",")

In [ ]:
tags

In [ ]:
tags.dtypes

#### Unix time/POSIX time/epoch time records time in secods since midnight Coordinated time(UTC)
of january 1,1970

In [ ]:
tags.head(5)

In [ ]:
tags["parsed_time"] = pd.to_datetime(tags["timestamp"], unit = "s")

#### Data Type datetime64[ns] maps to eiter M8[ns] depending on the hardware

In [ ]:
tags["parsed_time"].dtype

In [ ]:
tags.head(2)

#### Selecting  rows based on timestamps

In [ ]:
greater_than_t = tags["parsed_time"] > "2015-02-01"

selected_rows = tags[greater_than_t]

tags.shape, selected_rows.shape

### # Sorting the table using the timestamps

In [ ]:
tags.sort_values(by = "parsed_time", ascending = True)[:10]

# Average Movie Ratings over Time

### Are Movie ratings related to the year of lanch?

In [ ]:
average_ratings = ratings[["movieId", "rating"]].groupby("movieId", as_index = False)
average_ratings.tail(10)

In [ ]:
joined = movies.merge(average_rating, on = "movieId", how = "inner")
joined.head()
joined.corr()

In [ ]:
yearly_average = joined[["year","rating"]].groupby("year", as_index = False)
yearly_average.head(10)

In [ ]:
# yearly_average[-20:].plot(x = "year", y = "rating", figsize = (15,10), grid = True)